<script>
$(document).ready(function(){
	sc.api = '{{ path("sc_start") }}api/';
	sc.projectId = {{ project.id }};
        sc.projectName = '{{ project.name|raw }}';
	
	sc.init();
	sc.segments.total = {{ project.segments|length }};
	// select first segment
	var selection = -1;
	{% if project.lastTouchedSegment is not null %}
	sc.selector.selectSegment({{ project.lastTouchedSegment.id }});
	{% else %}
	sc.selector.selectSegment({{ project.segments[0].id }});
	{% endif %}
	
	{% if issuesGrid is empty %}
	sc.toast.show("Issues cannot be found. Check metrics file against currently defined error typology.", 100000, true);
	{% endif %}

	// add issue reports
	{% if not issues is empty %}
		{% for report in issueReports %}
		sc.issueReports.addIssueReportWithoutShow( "{{ report.segment.id }}", "{{ report.side }}", "{{ report.issue.name|escape("js") }}", "{{ report.severity }}", "{{ report.id}}", "{{ report.issue.id }}" );
		{% endfor %}
		sc.issueReports.show();
		report.importIssues(sc.issueReports.reports);
		report.show();
	{% endif %}
	
	// add highlights
	{% for segment in project.segments %}
	{% if segment.highlightsSource is not null %}
	sc.highlight.setHighlights( "{{ segment.id }}", "{{ segment.highlightsSource|escape("js") }}", "source" );
	{% endif %}
	{% if segment.highlightsTarget is not null %}
	sc.highlight.setHighlights( "{{ segment.id }}", "{{ segment.highlightsTarget|escape("js") }}", "target" );
	{% endif %}
	{% endfor %}
	
	
});

</script>
<p id="filterApplied" style="display:none">Currently only <span id="filterAppliedCount"></span> of {{ project.segments|length }} segments are visible. <a href="#" id="clearFilter">Clear filter</a></p>
<div id="editor-container" style="width:1145px">
<table class="viewer" id="scorecard">
	<thead>
		<tr>
			<th width="24" style="width: 24px; padding: 0"></th>
			<th width="36"></th>
			<th width="400">Source: <span class="selected-segment"></span> of {{
				project.segments|length }}
			</th>
			<th width="400">Target: <span class="selected-segment"></span> of {{
				project.segments|length }}
			</th>
			<th width="24" style="width: 24px; padding: 0"></th>
			<th width="200">Notes</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="2" style="padding: 0">
				<table class="nav">
					<tr class="button">
						<td><a href="#" class="nav_up"></a></td>
					</tr>
					<tr class="highlight">
						<td><a href="#" class="set-highlight-off tooltip"
							title="Enable/disable text highlighting"></a> <a href="#"
							class="clear-highlight-source tooltip"
							title="Clear all highlighting in this source segment"></a></td>
					</tr>
					<tr class="button">
						<td><a href="#" class="nav_down"></a></td>
					</tr>
				</table>
			</td>
			<td colspan="3" class="td-segtable">
					<table class="segtable">
						<tr>
							<td colspan="3" class="gray beginning">Beginning of file</td>
						</tr>
						{% for i in 0..(project.segments|length)-1 %} {% set segment =
						project.segments[i] %} {% set nRows = 3 %} {% if
						segment.metadata|length== 0 %} {% set nRows = 2 %} {% endif %}
	
						<tr id="{{ 'segment-' ~ segment.id }}" segment-id="{{ segment.id }}" segment-num="{{ i+1 }}" class="segment-text"
							notes="{{ segment.notes|escape("html") }}" tabindex="0">
							<td width="36" rowspan="{{ nRows }}" class="yellow">{{ i+1 }}</td>
							<td width="400" class="source"><div style="width:400px; word-wrap:break-word">{{ segment.source|raw }}</div></td>
							<td width="400" class="target"><div style="width:400px; word-wrap:break-word">{{ segment.target|raw }}</div></td>
						</tr>
						{% if segment.metadata|length>0 %}
						<tr segment-id="{{ segment.id }}" class="segment-metadata">
							<td colspan="3">{% for j in 0..(segment.metadata|length)-1 %} <span
								class="category">{{ segment.metadata[j].category.name }}</span>:
								{{ segment.metadata[j].text }} <br /> {% endfor %}
							</td>
						</tr>
						{% endif %}
						<tr segment-id="{{ segment.id }}" class="issues gray">
							<td class="issue-source">&nbsp;</td>
							<td class="issue-target">&nbsp;</td>
						</tr>
						{% endfor %}
					</table>
			</td>
			<td rowspan="2" style="padding: 0">
				<table class="nav">
					<tr class="button">
						<td><a href="#" class="nav_up"></a></td>
					</tr>
					<tr class="highlight">
						<td><a href="#" class="set-highlight-off tooltip"
							title="Enable/disable text highlighting"></a> <a href="#"
							class="clear-highlight-target tooltip"
							title="Clear all highlighting in this target segment"></a></td>
					</tr>

					<tr class="button">
						<td><a href="#" class="nav_down"></a></td>
					</tr>
				</table>
			</td>
			<td rowspan="2" style="padding: 0">
				<table class="navigation-notes">
					<tr>
						<td><textarea id="segment-notes"></textarea> <input type="button"
							value="Save Note" onclick="javascript:sc.notes.save()" /></td>
					</tr>
					<tr>
						<th>Navigation</th>
					</tr>
					<tr>
						<td class="navigation">Go to seg: <input type="text"
							id="go-to-seg-input" size="9" value="" /> <input type="button"
							id="go-to-seg" value="Go" />
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
		</tr>
	</tbody>
</table>

{% if issuesGrid|length>0 %}
<div id="metrics" style="width:942px; float:left;">
	{% set counter=0 %}
	{% for i in 0..(issuesGrid|length)-1 %}
		
		{% if issuesGrid[i][0].type == "issue" %}
			{# row with issues #}
			
			{% for issue in issuesGrid[i] %} {% if issue.display %}
			<div class="metric bg{{ issue.bg }}">
				<div class="buttons-left">
					<a target="source" href="#" class=""> <img
						src="{{ asset('bundles/dfkiscorecard/images/S.png') }}" />
					</a> <a target="source" issue-id="{{ issue.id }}"
						issue-name="{{ issue.name|escape('html') }}" href="#"
						class="minor tooltip"
						title="add <strong>{{ issue.name|escape('html') }}</strong> as <strong>minor</strong> issue to <strong>source</strong> segment.">
						<img src="{{ asset('bundles/dfkiscorecard/images/plus.png') }}" />
					</a> <a target="source" issue-id="{{ issue.id }}"
						issue-name="{{ issue.name|escape('html') }}" href="#"
						class="major tooltip"
						title="add <strong>{{ issue.name|escape('html') }}</strong> as <strong>major</strong> issue to <strong>source</strong> segment.">
						<img src="{{ asset('bundles/dfkiscorecard/images/plus.png') }}" />
					</a> <a target="source" issue-id="{{ issue.id }}"
						issue-name="{{ issue.name|escape('html') }}" href="#"
						class="critical tooltip"
						title="add <strong>{{ issue.name|escape('html') }}</strong> as <strong>critical</strong> issue to <strong>source</strong> segment.">
						<img src="{{ asset('bundles/dfkiscorecard/images/plus.png') }}" />
					</a>
				</div>
				<div class="label tooltip"
					title="{{ issue.tooltip|escape("html") }}">{{ issue.name }}</div>
				<div class="buttons-right">
					<a target="target" href="#" class=""> <img
						src="{{ asset('bundles/dfkiscorecard/images/T.png') }}" />
					</a> <a target="target" issue-id="{{ issue.id }}"
						issue-name="{{ issue.name|escape('html') }}" href="#"
						class="minor tooltip"
						title="add <strong>{{ issue.name|escape('html') }}</strong> as <strong>minor</strong> issue to <strong>target</strong> segment.">
						<img src="{{ asset('bundles/dfkiscorecard/images/plus.png') }}" />
					</a> <a target="target" issue-id="{{ issue.id }}"
						issue-name="{{ issue.name|escape('html') }}" href="#"
						class="major tooltip"
						title="add <strong>{{ issue.name|escape('html') }}</strong> as <strong>major</strong> issue to <strong>target</strong> segment.">
						<img src="{{ asset('bundles/dfkiscorecard/images/plus.png') }}" />
					</a> <a target="target" issue-id="{{ issue.id }}"
						issue-name="{{ issue.name|escape('html') }}" href="#"
						class="critical tooltip"
						title="add <strong>{{ issue.name|escape('html') }}</strong> as <strong>critical</strong> issue to <strong>target</strong> segment.">
						<img src="{{ asset('bundles/dfkiscorecard/images/plus.png') }}" />
					</a>
				</div>

			</div> {% endif %} {% endfor %}
		{% else %}
			{# header row #}
			{% for issue in issuesGrid[i] %}
				{%  if issue.type == "heading" %}
					<div class="issue-header heading">{{ issue.name }}</div>
				{% elseif issue.type == "blank" %}
					<div class="issue-header"></div>
				{% endif %}
			{% endfor %}
		{%  endif %}
		
		<div style="clear:both"></div>
	{% endfor %}
</div>
{% endif %}
		
<div id="filter-settings">
	
	<div class="filter-heading">Filter</div>
 	<div style="width:240px; padding:5px">
		<input type="text" id="filter_text" />
		<br/><br/>
		<a href="javascript:void(0)" id="advanced_filter">Advanced</a>					
	</div>
</div>

<div style="clear:both"></div>

<div id="advanced_filter_dialog" title="Advanced Filter">
	<table width="100%">
		<tr>
			<td colspan="3">Text: <input type="text" id="advanced_filter_input" /><br/><br/></td>
		</tr>
		{% set counter=0 %}
		
		{% for i in 0..(issuesGrid|length)-1 %}
				{% if not issuesGrid is empty and issuesGrid[i][0].type == "issue" %}	
					{% for issue in issuesGrid[i] %} 
						{% if issue.display %}
							
							{% if counter%3==0 %}
								<tr>
							{% endif %}

							<td><input type="checkbox" issue="{{ issue.id }}"/>{{ issue.name }}</td>
							
							{% if counter%3==2 %}
								</tr>
							{% endif %}
							
							{% set counter=counter+1 %}
						{% endif %}
					{% endfor %}
				{% endif %}
		{% endfor  %}
	</table>
</div>
</div>