<h2>Training and help</h2>
<script>
	$(function() {
		$( "#accordion-training" ).accordion({
      heightStyle: "content"
    });
</script>
<div id="accordion-training">
	<h3>Overview</h3>
	<div>
		<p>The MQM Scorecard is an easy-to-use system for analyzing translated documents using the Multidimensional Quality Metrics (MQM) framework. Scorecard projects require two files: the text to be assessed and an XML metrics specification file. They may also optionally include an XML projects specifications file.</p>
		<p>The Scorecard allows you to go through translated files segment by segment and apply issues to them. Issues are used to mark problems in the text that need to be resolved. (We use the term <em>issue</em> instead of <em>error</em> since issues may include items that are not errors that need to be changed.)</p>
		<h3>Creating projects</h3>
		<p>Projects can be created by users with appropriate administrative-level access by clicking on “Create project” at the top of the Scorecard interface. To create a project you will need, at a minimum, a tab-delimited translation file and an XML issues file.</p>
		<h4>Translation files</h4>
		<p>Simple translation files consist of a set of lines consisting of a source text segment followed by a tab character followed by a target text segment. These files must be UTF-8 encoded and can contain text in any language supported by your web browser.</p>
		<p><em>Example:</em></p>
		<pre>Ich habe das Gemüse gegessen.	I ate the vegetables.
Das war lecker.	It was delicious.</pre>

		<p>In some cases you may wish to have additional metadata about the project visible to the user. In such cases, you can add extra columns to the file. If you have more than two columns, your input file MUST have a header row that identifies the columns. The first two columns MUST be labeled Target and Source, but additional files can have any name you choose (as long as it does not include a tab character). The additional columns will be displayed, along with their labels, beneath each segment.</p>
		<p><em>Example:</em></p>
		<pre>Source	Target	Label
{{device}} would like to pair with this phone. To accept, enter the PIN on the device.	{{dispositivo}} quiere vincularse con este dispositivo. Para aceptar, escriba el PIN en el dispositivo.	passive-pair-pincode
Remove {{name}} from system?	¿Eliminar {{John}} del sistema?	remove-message</pre>
		<p>In this example an internal message label is presented in the third column and is shown to the user. Metadata columns can contain any information you wish to provide to the user.</p>


		<h4>Metrics files</h4>
		<p>Metrics files define the issues that you can assign in your project. They should be selected to match your project specifications. (For example, if you are assessing an advertising text, you might add <em>Style</em> as an issue, while if you are assessing a service text, you might not.) Guidance on designing metrics is beyond the scope of this help file, but the <a href="http://tranquality.info" target="_blank">Tranquality</a> site has guidance on designing metrics.</p>
		<p>A sample metrics file is presented below
		<pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;issues&gt;
   &lt;issue type="terminology" level="0"/&gt;
   &lt;issue type="accuracy" level="0"&gt;
      &lt;issue type="addition" level="1"/&gt;
      &lt;issue type="omission" level="1"/&gt;
      &lt;issue type="mistranslation" level="1"/&gt;
   &lt;/issue&gt;
   &lt;issue type="fluency" level="0"&gt;
      &lt;issue type="spelling" level="1"/&gt;
      &lt;issue type="grammar" level="1"/&gt;
   &lt;/issue&gt;
   &lt;issue type="style" level="0"/&gt;
&lt;/issues&gt;</pre>
		<p>This metric contains nine issue types. They are taken from the <a href="http://qt21.eu/mqm-definition" target="_blank">MQM definition</a>. Using issues from MQM ensures maximal compatibility between metrics and also has the advantage that the MQM Scorecard can provide “hover help” for this issues. If you need issue types not found in MQM, they can be added into the metrics file simply by adding an <code>&lt;issue&gt;</code> element into the XML file at the appropriate location. Custom issues will be displayed using the value of the <code>type</code> attribute and will not have any hover help information (except for a listing of their parent issues), but can otherwise be used as normal</p>
		<h4>Specifications file</h4>
		<p>The use of a specifications file is strongly recommended, but not required. Specifications files are stored in .sts (structured specification set) files. These XML files enumerate the values required by <a href="http://www.astm.org/Standards/F2575.htm">ASTM F2575:14</a> (see <a href="http://www.ttt.org/specs" target="_blank">http://www.ttt.org/specs</a> for more details). A sample STS file is presented below:</p>

		<pre>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;sts id="Legal_documents"&gt;
   &lt;section name="A.1. Source-content information"&gt;
      &lt;parameter number="1" name="Source language
        characteristics"&gt;
         &lt;subparameter xml:id="sourceLanguage" number="1a"
           name="Source Language" status="accepted" importance="high"&gt;
            &lt;value&gt;en-GB&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="textType" number="1b" name="Text
           Type" status="accepted" importance="normal"&gt;
            &lt;value&gt;Legal text&lt;/value&gt;&lt;!-- be more
              specific when possible, e.g., “contract” --&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="sourceAudience" number="1c"
           name="Source Audience" status="accepted" importance="normal"&gt;
            &lt;value&gt;Lawyers&lt;/value&gt;
            &lt;value&gt;judicial bodies&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="sourcePurpose" number="1d"
           name="Source purpose" status="accepted" importance="normal"&gt;
            &lt;value&gt;Define legal relationships between
              parties.&lt;/value&gt;
            &lt;value&gt;Convey legal decisions, precedents, and
              similar information.&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="2" name="Specialized language"&gt;
         &lt;subparameter xml:id="subjectField" number="2a"
           name="Subject field" status="accepted" importance="high"&gt;
            &lt;value&gt;Law&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="sourceTerminology" number="2b"
           name="Terminology" status="accepted" importance="normal"&gt;
            &lt;value&gt;Legal terminology&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="3" name="Volume"&gt;
         &lt;subparameter xml:id="volume" number="3" name="Volume"
           status="accepted" importance="normal"&gt;
            &lt;value&gt;2000 words&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="4" name="Complexity"&gt;
         &lt;subparameter xml:id="complexity" number="4"
           name="Complexity" status="accepted" importance="normal"&gt;
            &lt;value&gt;Often very complex with unclear and wordy
              sources&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="5" name="Origin"&gt;
         &lt;subparameter xml:id="origin" number="5a" name="Origin"
           status="accepted" importance="normal"&gt;
            &lt;value&gt;Legal teams&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="isTranslation" number="5b" name="Is
           the text a translation?" status="accepted"
           importance="normal"&gt;
            &lt;value&gt;Generally no. Authors may not be native
              speakers of the source language.&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
   &lt;/section&gt;
   &lt;section name="A.2. Target-content requirements"&gt;
      &lt;parameter number="6" name="Target language
        requirements"&gt;
         &lt;subparameter xml:id="targetLanguage" number="6a"
           name="Target language" status="accepted" importance="normal"&gt;
            &lt;value&gt;fr&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="targetTerminology" number="6b"
           name="Target terminology" status="accepted" importance="normal"&gt;
            &lt;value&gt;Use termbase for approved
              translations&lt;/value&gt;
            &lt;value&gt;Use other locale-appropriate legal
              terminology&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="7" name="Target audience"&gt;
         &lt;subparameter xml:id="targetAudience" number="7"
           name="Target audience" status="accepted" importance="normal"&gt;
            &lt;value&gt;Same as source&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="8" name="Target purpose"&gt;
         &lt;subparameter xml:id="targetPurpose" number="8"
           name="Target purpose" status="accepted" importance="normal"&gt;
            &lt;value&gt;Same as source&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="9" name="Content correspondence"&gt;
         &lt;subparameter xml:id="contentCorrespondence" number="9"
           name="Content correspondence" status="accepted"
           importance="important"&gt;
            &lt;value&gt;Covert: document should appear as though
              written in target language.&lt;/value&gt;
            &lt;note&gt;IMPORTANT: It is highly likely that
              additional adaptation will be required after translation
              upon review by the client. Such changes may lead the target
              text to deviate from the source in some details. Requester
              shall not be responsible for such changes, and such changes shall
              not be considered evidence of errors unless they reflect errors
              that would be errors per the specifications (i.e., changes to
              adapt to client-specific legal concerns are not to be considered
              errors).&lt;/note&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="10" name="Register"&gt;
         &lt;subparameter xml:id="register" number="10"
           name="Register" status="accepted" importance="normal"&gt;
            &lt;value&gt;Formal. Match source&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="11" name="File format"&gt;
         &lt;subparameter xml:id="fileFormat" number="10a" name="File
           format" status="accepted" importance="normal"&gt;
            &lt;value&gt;Microsoft Word (.doc)&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="outputModality" number="10b"
           name="Output modality" status="accepted" importance="normal"&gt;
            &lt;value&gt;Print&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="12" name="Style"&gt;
         &lt;subparameter xml:id="styleGuide" number="12a"
           name="Style guide" status="accepted" importance="normal"&gt;
            &lt;value&gt;None provided: use locale-appropriate legal
              style&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="styleRelevance" number="12b"
           name="Style relevance" status="accepted" importance="normal"&gt;
            &lt;value&gt;High&lt;/value&gt;
            &lt;note&gt;However, if style and accuracy conflict,
              accuracy is more important since precise nuance MUST be conveyed
              as in the source. If this requirement leads to sub-optimal style,
              that is acceptable.&lt;/note&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="13" name="Layout"&gt;
         &lt;subparameter xml:id="layout" number="13" name="Layout"
           status="accepted" importance="normal"&gt;
            &lt;value&gt;Follow source&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
   &lt;/section&gt;
   &lt;section name="B. Production tasks"&gt;
      &lt;parameter number="14" name="Typical production tasks"&gt;
         &lt;subparameter xml:id="preparation" number="14a"
           name="Preparation" status="accepted" importance="normal"&gt;
            &lt;value&gt;Read document and clarify any unclear
              portions prior to translation&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="initialTranslation" number="14b"
           name="Initial translation" status="accepted" importance="normal"&gt;
            &lt;value&gt;Human; Machine Translation is not
              acceptable&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="qualityAssurance" number="14c"
           name="In-process quality assurance" status="accepted"
           importance="normal"&gt;
            &lt;value&gt;In-house examination and
              revision.&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="15" name="Additional tasks"&gt;
         &lt;subparameter xml:id="additionalTasks" number="15"
           name="Additional tasks" status="accepted" importance="normal"&gt;
            &lt;value&gt;Legal review by client’s target locale legal
              team.&lt;/value&gt;
            &lt;note&gt;Requester cannot provide cross-border legal
              consultation services and translations MUST be reviewed by
              client for suitability prior to use. Extensive changes may be
              required.&lt;/note&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
   &lt;/section&gt;
   &lt;section name="C. Environment"&gt;
      &lt;parameter number="16" name="Technology"&gt;
         &lt;subparameter xml:id="technology" number="16"
           name="Technology" status="accepted" importance="normal"&gt;
            &lt;value&gt;None specified. TM is desirable to promote
              internal consistency. In the case of translation of a new version
              of a previously translated text, TM use is mandatory.&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="17" name="Reference materials"&gt;
         &lt;subparameter xml:id="referenceMaterials" number="17"
           name="Reference materials" status="accepted" importance="normal"&gt;
            &lt;value&gt;If the translation must use language from
              specific relevant laws, these must be provided to the
              translators.&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="18" name="Workplace requirements"&gt;
         &lt;subparameter xml:id="workplaceRequirements" number="18"
           name="Workplace requirements" status="accepted"
           importance="normal"&gt;
            &lt;value&gt;None specified&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
   &lt;/section&gt;
   &lt;section name="D. Relationships"&gt;
      &lt;parameter number="19" name="Permissions"&gt;
         &lt;subparameter xml:id="copyright" number="19a"
           name="Copyright" status="accepted" importance="normal"&gt;
            &lt;value&gt;Creator retains all rights&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="recognition" number="19b"
           name="Recognition" status="undetermined" importance="normal"&gt;
             &lt;value&gt;None&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="restrictions" number="19c"
           name="Restrictions" status="accepted" importance="normal"&gt;
            &lt;value&gt;Strict confidentiality, possibly with legal
              penalties for violation.&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="20" name="Submissions"&gt;
         &lt;subparameter xml:id="qualifications" number="20a"
           name="Qualifications" status="undetermined" importance="normal"&gt;
             &lt;value&gt;Legal translation experience, verified
               through tests, previous work, or references.&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="deliverables" number="20b"
           name="Deliverables" status="undetermined" importance="normal"&gt;
            &lt;value&gt;Translated version of file and any TMs or
              termbases generated&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="delivery" number="20c"
           name="Delivery" status="undetermined" importance="normal"&gt;
            &lt;value&gt;Defined in contract&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="deadline" number="20d"
           name="Deadline" status="undetermined" importance="normal"&gt;
             &lt;value&gt;Defined in contract&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
      &lt;parameter number="21" name="Expectations"&gt;
         &lt;subparameter xml:id="compensation" number="21a"
           name="Compensation" status="undetermined" importance="normal"&gt;
            &lt;value&gt;Defined in contract&lt;/value&gt;
         &lt;/subparameter&gt;
         &lt;subparameter xml:id="communication" number="21b"
           name="Communication" status="undetermined" importance="normal"&gt;
            &lt;value&gt;Project manager as defined in
              contract&lt;/value&gt;
         &lt;/subparameter&gt;
      &lt;/parameter&gt;
   &lt;/section&gt;
&lt;/sts&gt;</pre>
		<h4>Creating the project</h4>
		<p>With the files listed above in hand, click on “Create project”. You will then have the option to select the files and provide a project name. Click on “Submit” to create the project. If any import errors occur you will be notified so you can fix them. If any custom issue types are generated, you will be alerted.</p>
		<h4>Assigning users</h4>
		<p>By default the project is assigned to the user who created it. If you wish to assign another user, you need to know the user name. You can enter the user name to assign the project to that user. (The option to assign users only appears for projects that have already been created.</p>
	</div>	
	<h3>Using the Scorecard Interface</h3>
	<div>
		<p>The heart of the Scorecard is the editor (under the “Scorecard” tab). In the editor you can scroll to any segment (or use the up and down arrows on either side of the text viewer to move to a new active segment). The Scorecard remembers the last segment edited (by any user) and will automatically open at that point. You can jump to any segment number using the Navigation pane. The current segment has a red border and the segment number is highlighted. Only the active segment can be edited in any fashion. You add issues by clicking on one of the issue buttons below the translation viewer. When you move your mouse over a button you will see an image like the following:</p>
		{% image '@DFKIScorecardBundle/Resources/public/images/selecting-issue-severity.png' %} <img width="537" height="183" alt="[Selecting an issue severity]" src="{{ asset_url }}" /> {% endimage %}
		<p>The colored buttons on the left side are used to mark issues in the source segment. Those on the right mark issues in the target segment. The yellow buttons add minor issues, the orange add major issues, and the red add critical issues. Hovering over any button will bring up a hover help that explains its action. In addition, hovering over the center of any issue button will bring up its MQM definition, as shown below:</p>
		{% image '@DFKIScorecardBundle/Resources/public/images/selecting-issue-severity.png' %} <img width="456" height="464" alt="[Hover MQM definition for Omission]" src="{{ asset_url }}" /> {% endimage %}.
		<p>Each time you select an issue it will be added to the current segment as a “lozenge”-style button:</p>
		{% image '@DFKIScorecardBundle/Resources/public/images/editor-with-issues.png' %} <img width="873" width="185" alt="[Editor showing issues]" src="{{ asset_url }}" /> {% endimage %}.
		<p>To remove an issue, click on the red “[x]” in the upper right corner.</p>

		<h4>Adding notes</h4>
		<p>You can add notes to a segment in the Notes field. Notes are not automatically saved when you leave a segment. Therefore you need to click “Save note” after making changes. Notes should be added to explain all major and critical issues and can also be used to record queries, make suggestions, or note potential problems.</p>

		<h4>Highlighting text</h4>
		<p>The highlighter feature allows you to mark text in the current segment (source or target). When used in combination with the Notes feature, it enables you to pinpoint the location of particular problems or draw attention to specific text. To enable highlighting for a segment, click on the highligher icon. When it is active, it will be yellow.</p>
		{% image '@DFKIScorecardBundle/Resources/public/images/enable-highlights.png' %} <img width="438" height="93" alt="[Enable highlights]" src="{{ asset_url }}" /> {% endimage %}.
		<p>When the highlighter is active, any text you select in the source or target segment will be “painted” yellow. To remove highlights from a segment, click on the cancel highlighter icon. Note that the cancel highlighter icon is active only on the side (source or target) on which it is clicked. As a result you can clear highlighting on each side separately without impacting the other side.
		{% image '@DFKIScorecardBundle/Resources/public/images/clear-highlights.png' %} <img width="664" height="288" alt="[Clear highlights]" src="{{ asset_url }}" /> {% endimage %}.

		<h4>Filtering</h4>
		<p>The Scorecard allows you to search for text or issues using the Filter feature. When a filter is active the number of segments shown will be displayed above the editor. To clear the current filter, click on “Clear filter”.</p>
		<h5>Quick filters</h5>
		<p>A <em>quick filter</em> is performed when you enter text in the Filter pane. Quick filters search only the source and target text:</p>
		{% image '@DFKIScorecardBundle/Resources/public/images/editor-with-issues.png' %} <img width="1172" width="557" alt="[Quick filter results]" src="{{ asset_url }}" style="width:50%;height:50%" /> {% endimage %}.
		<h5>Advanced filters</h5>
		<p>An advanced filter lets you filter segments by issue type and combine text searches with search by issue type. Advanced filters are useful when you want to see all segments containing a particular issue type (e.g., if you want to see all Terminology issues). To set an advanced filter, click on “Advanced” in the Filter pane. You will be presented with a dialog similar to the following:</p>
		{% image '@DFKIScorecardBundle/Resources/public/images/advanced-filter.png' %} <img width="574" width="295" alt="[Advanced filter dialog]" src="{{ asset_url }}" style="width:50%;height:50%" /> {% endimage %}.
		<p>In this view selecting a combination of issues and/or text will show only segments containing ALL issues and text selected. Selecting “Clear filter” in the dialog will cancel the filter. Clicking “Close” will leave the current filter active. Clicking “Clear filter” above the editor will cancel any current advanced filter.</p>
	</div>

	<h3>Severity Levels</h3>
	<div>
		<p>The MQM Scorecard supports three issue severity levels. Choosing the proper severity is important. The three levels are are follows:</p>
		<ul>
			<li><strong>minor</strong>. Minor issues are those that can be easily corrected by the end user without any loss of meaning, possibly without the user even noticing them. Minor issue <em>should</em> be fixed, but if they are not, they would not impact the usability of the translation and would cause no harm to the requester or user. Examples include spelling issues that do not lead to confusion or common grammatical issues. A 1-point penalty is given for each minor issue.</li>
			<li><strong>major</strong>. Major issues are those that the end user cannot recover from.  Major issues MUST by fixed prior to delivery to the requester or end user. Major issues change meaning or create problems of understanding. However, they do not have to potential to cause harm to the end user, requester, or provider. Examples would include the following: using the wrong term for a peripheral in a service manual that does not impact brand usage but may cause confusion; a grammatical issue that makes it unclear who should perform a required action; accidental omission of an item in a list of options. A 10-point penalty is given for each major issue.</li>
			<li><strong>critical</strong>. Critical issues are those that have the potential to cause harm (physical, legal, or economic) to the end user, requester, or provider. Critical issues MUST be fixed and a single critical issue results in automatic rejection of the project even if the overall score would not otherwise lead to rejection. Critical issues must be fixed by a third party because they call into question the competence of the entire translation. <span style="color:red;">NOTE: For translations provided by competent professional translators, critical issues should occur very infrequently. If there is any question about whether an issue is critical or major, the translation provider should be given the benefit of the doubt and the issue classified as major.</span> A 100-point penalty is given for each critical issue. In the Scorecard assigning a critical issue brings up a dialog box that requires the reviewer to confirm that the issue should be considered critical.</li>
		</ul>
		<p>In practical terms, most issues will be major or minor, with critical issues occurring very infrequently. For any major or critical issues, please explain the issue in the Notes field. Without an explanation of the issue, it may be difficult for the provider to interpret the issue.</p>
	</div>

	<h3>Reporting and Scores</h3>
	<div>
		<p>As you note issues, the score at the top of the editor will update automatically. Three scores are presented:
		<ul>
			<li>The <strong>source score</strong> provides a score only for those issues that are noted in the source. Users will frequently discover problems in the source and mark them, particularly if they result in problems in the target. This score can be useful when the requester provides feedback to the client because it allows the requester to document problems with the source that impact the target.</li>
			<li>The <strong>target score</strong> provides a score only for those issues that are noted in the target. It provides a view of the extent to which the translation meets specifications according to the current metric without consideration of source problems. This score corresponds to the scores commonly used by language service providers in internal assessments.</li>
			<li>The <strong>composite score</strong> is a score that counts target penalties against the translation, but adds source penalties to the score. It is useful in cases where the translator has had to deal with significant source problems and you want a “fair” score that reflects this difficulty. In some cases a translation might fail to meet expectations in the target score, but the composite score would provide a more fair assessment of the translation.</li>
		</ul>
		<p>If you need more detail on the issues found, the <strong>Reports</strong> tab provides an overview report of the types of issues found in both source and target and their severity. It does not provide a score because the scores are always available at the top of the editor, but is useful for cases where you want to understand what kinds of problems occurred in a translation.</p>
	</div>
</div>