<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>
{% block title %}MQM Scorecard{% endblock %}</title>

{% block stylesheets %} 

<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/general.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/viewer.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/jQueryUI/jquery-ui.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/jQueryUI/jquery-ui.structure.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/jQueryUI/jquery-ui.theme.min.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/tooltipster/tooltipster.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/dfkiscorecard/css/tooltipster/tooltipster-overrides.css') }}" type="text/css" media="all" />
{% endblock %} {% block javascripts %} {%
javascripts
'@DFKIScorecardBundle/Resources/public/js/jquery/jquery.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %} {% javascripts
'@DFKIScorecardBundle/Resources/public/js/jquery/jquery-ui.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %} {% javascripts
'@DFKIScorecardBundle/Resources/public/js/editor.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %} {% javascripts
'@DFKIScorecardBundle/Resources/public/js/jquery.textHighlighter.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %} {% javascripts
'@DFKIScorecardBundle/Resources/public/js/jquery.tooltipster.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %} {% endblock %}

</head>
<body>
	<div id="outer">
		<div id="top">
			<!-- start content of the title block -->
			<div id="logo">
				{% image '@DFKIScorecardBundle/Resources/public/images/MQM_Logo.png'
				%} <img height="36" width="88" alt="[MQM logo]"
					src="{{ asset_url }}" /> {% endimage %}
			</div>
			<div id="login">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} {{
				'layout.logged_in_as'|trans({'%username%': app.user.username},
				'FOSUserBundle') }} | <a
					href="{{ path('fos_user_security_logout')	 }}"> {{
					'layout.logout'|trans({}, 'FOSUserBundle') }} </a> {% else %} <a
					href="{{ path('fos_user_security_login') }}">{{
					'layout.login'|trans({}, 'FOSUserBundle') }}</a> {% endif %}
			</div>
			<div id="title_block">
				<div id="title_inner">
					<h1>MQM Evaluation Scorecard</h1>
				</div>
			</div>

			<div id="mainmenu">{% if app.user and is_granted('ROLE_SUPER_ADMIN')
				%} {% include( "DFKIScorecardBundle:Superadmin:menu.html.twig") %}
				{% elseif app.user and is_granted('ROLE_ADMIN' ) %} {% include(
				"DFKIScorecardBundle:Admin:menu.html.twig") %} {% elseif app.user
				and is_granted('ROLE_USER') %} {% include(
				"DFKIScorecardBundle:User:menu.html.twig") %} {% else %} {% include(
				"DFKIScorecardBundle:Default:menu.html.twig") %} {% endif %}</div>

			<div style="clear: both;"></div>

			{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="flash-notice">{{ flashMessage|raw }}</div>
			{% endfor %} {% for flashMessage in
			app.session.flashbag.get('warning') %}
			<div class="flash-warning">{{ flashMessage|raw }}</div>
			{% endfor %} {% for flashMessage in app.session.flashbag.get('error')
			%}
			<div class="flash-error">{{ flashMessage|raw }}</div>
			{% endfor %} 
                        <span id="alertBox"></span>
                        {% block body %}{% endblock %}

		</div>
		<div style="clear: both;"></div>
		<div id="boilerplate">
			(c)2015 DFKI GMbH.
			<br /><a href="{{ path("sc_about") }}" target="_blank">Contributors</a>
			<br />For more information about this tool, please contact
			<a href="mailto:info@qt21.eu">info@qt21.eu</a>. Scorecard is published under
			<a href="https://github.com/multidimensionalquality/qt21-scorecard/blob/master/LICENSE.txt" target="blank">Apache 2.0 License</a>
			on <a href="https://github.com/multidimensionalquality/qt21-scorecard/">GitHub</a>.
		</div>
	</div>
</body>
</html>

