{% extends 'DFKIScorecardBundle::base.html.twig' %} {% block title
%}List projects{% endblock %} {% block body %}
<h1>List projects</h1>

{% if actions.delete %}
<script type="text/javascript">

var deleteProjectId = -1;

$(document).ready(function(){
	$('#reallyDelete').dialog({
		autoOpen:false,
		buttons:{
			"Yes": function(){
				document.location.href = "{{ path("sc_start") }}admin/delete_project/" + deleteProjectId;
			},
			"No": function(){
				$('#reallyDelete').dialog('close');
			}
		}
	});

	$('a.delete-project').click(function(){
		deleteProjectId = $(this).attr('project-id');
		var name = $('#project-name-'+deleteProjectId).html();
		var str = "Do you really want to delete project &quot;" + name + "&quot;";
		$('#reallyDelete').html(str);
		$('#reallyDelete').dialog('open');
	});
});
</script>
<div id="reallyDelete" title="alert"></div>
{% endif %}

<table class="sctable">
	<tr>
		{# sorting of properties based on query components #}
		<th width="50">{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
		<th  {% if pagination.isSorted('p.finished') %} class="sorted"
			 {% endif %}>{{ knp_pagination_sortable(pagination, 'Project Name',
			'p.name') }}</th>
		<th>{{ knp_pagination_sortable(pagination, 'Status', 'p.finished') }}</th>
		<th>Actions</th>
	</tr>

	{% if pagination|length == 0 %}
	<tr>
		<td colspan="3">You are not assigned to any projects.</td>
	</tr>
	{% endif %} {# table body #} {% for project in pagination %}
	<tr  {% if loop.index is odd %} class="color"  {% endif %}>
		<td>{{ project.id }}</td>
		<td id="project-name-{{ project.id }}">{{ project.name }}</td>
		<td>{% if project.finished %} finished {% else %} not finished - current segment: {{
			project.lastTouchedSegment.segNum }}{% endif %}</td>
		<td>{% if actions.open %} <a
			href="{{ path( "sc_editor", {'projectId': project.id})  }}">open</a>
			{% endif %} {% if actions.edit %} <a
			href="{{ path( "sc_edit_project", {'projectId': project.id})  }}">edit</a>
			{% endif %} {% if actions.delete %} <a class="delete-project"
			project-id="{{ project.id }}" href="javascript:void(0);">delete</a>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>
{# display navigation #}
<div class="navigation">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}
