<ul>
	<li><a href="{{ path('sc_superadmin_dashboard') }}">Start</a></li>
	<li><a href="{{ path('sc_create_project') }}">Create project</a></li>
	<li><a href="{{ path('sc_list_projects') }}">List projects</a></li>
	<li><a href="{{ path('sc_manage_users') }}">Manage users</a></li>
	<li><a href="{{ path('fos_user_profile_edit') }}">Edit profile</a></li>
        <li><a href="{{ path('sc_training') }}">Training and Help</a></li>
</ul>